.dataImg{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.energyImg {
    /* background-color: var(--main);
    mix-blend-mode: normal;
    opacity: 0.07; */
    background-color: var(--main);
    opacity: 0.07;
}

.energyImg img {
    color: var(--main);
    opacity: 1;
    
}